#employeeDetail {
    margin: 15pt;
}

table {
    border: 2px solid #663366;
}

td {
    padding: 5px;
}

button {
    font-family: sans-serif;
    font-size: 15px;
    background-color: #663366;
    border: none;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 100px;
    padding: 5px;
    margin: 15px;
}

button:hover {
    cursor: pointer;
}

.genderIcon {
    margin-left: 50px;
}

a {
    color: #333;
    text-decoration: none;
    position: relative;
    display: block;
    white-space: nowrap;
}

a:hover {
    color: #663366;
}