<nav>
  <img id="logo" src="/assets/logo.png" alt="logo" height=35px padding=0px>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/tasks">Tasks</a>
  <a routerLink="/departments">Departments</a>
  <a routerLink="/employees">Employees</a>
  <a routerLink="/search">Search</a>
</nav>
<router-outlet></router-outlet>
<footer>
  <img id="logoBelow" src="/assets/logo.png" alt="logo" height=80px padding=0px>
  <br>
  <p>Fontys University of Applied Sciences,
    Rachelsmolen 1,
    5612 MA Eindhoven
  </p>
  <p>Contact information: <a href="mailto:info@fontys.nl">
      info@fontys.nl</a></p>
  <br>
</footer>