  h3 {
    text-align: center;
    margin-bottom: 0;
  }

  table {
    display: inline-block;
    border: 2px solid #663366;
    border-collapse: collapse;
    margin: 10px;
    vertical-align: top;
    border-spacing: 0px;
  }

  th {
    padding: 7px;
    text-align: center;
    background-color: #663366;
    color: white;
  }

  td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    vertical-align: top;
  }

  td:hover {
    background-color: #663366;
    color: white;
  }

  .dashboardSearch {
    width: max-content;
    height: max-content;
    padding: 20px;
    border: 3px solid #663366;
    margin-top: 1%;
    display: inline-block;
    margin-left: 25px;
  }

  a {
    color: #333;
    text-decoration: none;
    position: relative;
    display: block;
    white-space: nowrap;
  }

  td:hover a {
    color: white;
  }

  #dashboard {
    display: inline-flex;
  }

  #tables {
    margin-left: 20px;
  }

  #fontys {
    margin: 4%;
    margin-top: 10%;
    float: right;
  }

  button {
    background-color: #663366;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
    margin: 5px;
  }

  button:hover {
    background-color: #cfd8dc;
  }